# vim: ts=2 sw=2 expandtab syntax=yaml:
---
# https://magicseaweed.com/developer/forecast-api
api:
  key: "your magic seaweed api key goes here"
  fields: "timestamp,swell.*,wind.*,condition.temperature"
  spot_id: "396"
  units: "us"