table { 
	width: auto; 
	border-collapse: collapse; 
	margin:50px auto;
	border: 1px solid #ccc;
}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
}

td, th { 
	padding: 3px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 14px;
	text-align: center;
	}

.labels tr td {
	background-color: #2cc16a;
	font-weight: bold;
	color: #fff;
}

.label tr td label {
	display: block;
}

[data-toggle="toggle"] {
	display: none;
}

tbody tr:nth-child(odd) {
    background: #eee;
}
tbody tr:nth-child(even) {
    background: #fff;
}

tbody tr:hover { /* th:hover also if you wish */
    background: rgb(7, 131, 233);
}