th {
    font-weight: bold
}

tbody tr:nth-child(odd) {
    background: #eee;
}
tbody tr:nth-child(even) {
    background: #fff;
}

tbody tr:hover { /* th:hover also if you wish */
    background: rgb(7, 131, 233);
}

.labels tr td {
	background-color: #2cc16a;
	font-weight: bold;
	color: #fff;
}

.label tr td label {
	display: block;
}

[data-toggle="toggle"] {
	display: none;
}