<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Surf Forecast tool written in Python for Virginia Beach, VA and S-Turns, NC">
    <meta name="author" content="Sean Combs">
    <title>combsvb - Surf Forecast</title>
    <link rel="stylesheet" href="../surf-forecast/static/style.css">
  </head>


  <body>
  <table>
    <caption>5 DAY VIRGINIA BEACH SURF REPORT</caption>
    <thead>
      <tr>
        <th style="width: 250px">Date</th>
        <th style="width: 150px">Swell</th>
        <th style="width: 150px">Wind</th>
        <th style="width: 100px">Temperature</th>
        <th style="width: 30px">Weather</th>
        <th style="width: 90px">Rating</th>
      </tr>
    </thead>
    <tbody>
    {% for f in fdata %}
    <tr>
      <td>
        {{ f.timestamp }}
      </td>
      <td style="width: 250px">
        {% if f.max_swell_height == f.min_swell_height %}
          {{ f.max_swell_height }}ft {{ f.swell_direction }}
        {% else %}
          {{ f.min_swell_height }}-{{ f.max_swell_height }}ft {{ f.swell_direction }}
        {% endif %}
      </td>
      <td>
        {{ f.wind_speed }}mph {{ f.wind_direction }}
      </td>
      <td style="text-align: center">
        {{ f.temperature }}&#176; F
      </td>
      <td style="text-align: center">
        <img src="http://cdnimages.magicseaweed.com/30x30/{{ f.weather_condition }}.png">
      </td>
      <td style="text-align: center">
        {% for i in range(f.solid_rating) %}
          <img src="http://cdnimages.magicseaweed.com/star_filled.png" />
        {% endfor %}  
        {% for i in range(f.faded_rating) %}
          <img src="http://cdnimages.magicseaweed.com/star_empty.png" />
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="http://magicseaweed.com"><img src="https://im-1-uk.msw.ms/msw_powered_by.png"></a>
  </body>
</html>
