<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Surf Forecast tool written in Python for Virginia Beach, VA and S-Turns, NC">
    <meta name="author" content="Sean Combs">
    <title>combsvb - Surf Forecast</title>
    <link rel="stylesheet" href="../surf-forecast/static/style.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  </head>


  <body>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Swell</th>
        <th>Wind</th>
        <th style="text-align: center;">Temp</th>
        <th style="text-align: center;">Weather</th>
        <th>Rating</th>
      </tr>
    </thead>
    {% for day, ddata in fdata.items() %}
    <tbody>
      <tbody class="labels">
        <tr>
          <td colspan="6">
            <label for="{{ day }}">{{ day }}</label>
            <input type="checkbox" name="{{ day }}" id="{{ day }}" data-toggle="toggle">
          </td>
        </tr>
      </tbody>
      <tbody class="hide">
        {% for f in ddata %}
        <tr>
          <td>
            {{ f.hour }}
          </td>
          <td>
            {% if f.max_swell_height == f.min_swell_height %}
              {{ f.max_swell_height }}ft {{ f.swell_direction }}
            {% else %}
              {{ f.min_swell_height }}-{{ f.max_swell_height }}ft {{ f.swell_direction }}
            {% endif %}
          </td>
          <td>
            {{ f.wind_speed }}mph {{ f.wind_direction }}
          </td>
          <td style="text-align: center;">
            {{ f.temperature }}&#176; F
          </td style="text-align: center;">
          <td style="text-align: center;">
            <img src="http://cdnimages.magicseaweed.com/30x30/{{ f.weather_condition }}.png">
          </td style="text-align: center;">
          <td>
            {% for i in range(f.solid_rating) %}
              <img src="http://cdnimages.magicseaweed.com/star_filled.png" />
            {% endfor %}  
            {% for i in range(f.faded_rating) %}
              <img src="http://cdnimages.magicseaweed.com/star_empty.png" />
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </tbody>
    {% endfor %}
  </table>
  <a href="http://magicseaweed.com"><img src="https://im-1-uk.msw.ms/msw_powered_by.png"></a>
  <script type="text/javascript" src="../surf-forecast/static/scripts.js"></script>
  </body>
</html>
