<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Surf Forecast tool written in Python for Virginia Beach, VA and S-Turns, NC">
    <meta name="author" content="Sean Combs">
    <title>combsvb - Surf Forecast</title>
  </head>


  <body>
  <h1>combsvb - Surf Forecast</h1>
  <!-- Surf Forecast div -->
  <table>
    <th>S TURNS SURF REPORT AND FORECAST</th>
    <tr>
      <td>Date</td>
      <td>Swell Height</td>
      <td>Swell Direction</td>
      <td>Wind Speed</td>
      <td>Wind Direction</td>
    </tr>
    {% for n in fdata %}
    <tr>
      {% for k,v in n.items() %}
      <td>{{v}}</td>
    </tr>
  </table>

  </body>
</html>
